.cash
    .container
        h2 Удобные и совершенные кассы <span class='text-bold'>для вашего бизнеса</span>
        p.text-center Равным образом новая модель организационной деятельности в значительной степени
        .flex_row__between
            .cash_item
                .cash_item-wrap1
                    img(src='img/cash1.png' alt='')
                    h3 Атол 30Ф
                    ul
                        li - низкая стоимость кассы и запасных частей;
                        li - кономия места за счет небольшого размера;
                        li - не платите за неисользуемый функционал;
                        li - прост в работе и обслуживании;
                        li - готов к ЕГГАИС
                        li - соответствует 54-фз
                button(class='btn' type='button') Заказать
            .cash_item
                .cash_item-wrap1
                    img(src='img/cash2.png' alt='')
                    h3 Атол 30Ф
                    ul
                        li - низкая стоимость кассы и запасных частей;
                        li - кономия места за счет небольшого размера;
                        li - не платите за неисользуемый функционал;
                        li - прост в работе и обслуживании;
                        li - готов к ЕГГАИС
                        li - кономия места за счет небольшого размера;
                        li - готов к ЕГГАИС
                        li - соответствует 54-фз
                button(class='btn' type='button') Заказать
            .cash_item
                .cash_item-wrap1
                    img(src='img/cash3.png' alt='')
                    h3 Атол 30Ф
                    ul
                        li - низкая стоимость кассы и запасных частей;
                        li - кономия места за счет небольшого размера;
                        li - не платите за неисользуемый функционал;
                        li - прост в работе и обслуживании;
                        li - готов к ЕГГАИС
                        li - соответствует 54-фз
                button(class='btn' type='button') Заказать

