.contact
    h2 Контакты
    ul.contact_list
        li Санкт-Петербург, пр. Энгельса, д. 124, к. 1 ТРК «Вояж», пятый вход (дальний от метро), В этаж, офис 55-Н
        li
            a(class='contact_tel' href='') +7 (812)320-61-61
        li
            a(class='' href='') office@3206161.ru
        li Пн-Пт с 9:30 до 18:00
    .contact_map
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8db166aad54529dc4d32e8f109d05535c55da548043b2e03e136b317ea8990f1&amp;width=100%25&amp;height=425&amp;lang=ru_RU&amp;scroll=true"></script>