.faq
    .container
        h2 Вопрос-ответ
        .flex_row__between
            .faq_column.flex_column

                .accordion

                    .title ЧЕМ МОДУЛЬКАССА ОТЛИЧАЕТСЯ ОТ ОБЫЧНОЙ КАССЫ? <i class='arrow'></i>
                    .content
                        | Ling yellowtail flagtail southern flounder. Ribbon eel northern pike glass knifefish cepalin barbelless catfish cusk-eel ridgehead, mahi-mahi. Glass knifefish snubnose eel pompano dolphinfish lemon shark salmon duckbilled barracudina common tunny skate, codlet. Perch tarpon, zebra pleco--round herring jewfish, New Zealand sand diver. Spiny dwarf catfish slickhead clown triggerfish. Shad New Zealand sand diver cavefish banjo catfish bamboo shark spiny basslet, pigfish handfish.

                    .title СКОЛЬКО СТОИТ ДОСТАВКА И КАК БЫСТРО СМОЖЕТЕ ДОСТАВИТЬ? <i class='arrow'></i>
                    .content Количество товаров бесконечно, вносите всё, что продаете. Внести список можно двумя способами: отправить Эксель-таблицу с товарами нам на электронную почту или внести самому через личный кабинет. Первый способ удобнее, если товаров много.

                    .title ВАШ СОТРУДНИК ПОМОЖЕТ МНЕ НАСТРОИТЬ КАССУ? <i class='arrow'></i>
                    .content Количество товаров бесконечно, вносите всё, что продаете. Внести список можно двумя способами: отправить Эксель-таблицу с товарами нам на электронную почту или внести самому через личный кабинет. Первый способ удобнее, если товаров много.

                    .title С КАКИМИ ФИСКАЛЬНЫМИ РЕГИСТРАТОРАМИ ИНТЕГРИРУЕТСЯ НАША КАССА? <i class='arrow'></i>
                    .content Количество товаров бесконечно, вносите всё, что продаете. Внести список можно двумя способами: отправить Эксель-таблицу с товарами нам на электронную почту или внести самому через личный кабинет. Первый способ удобнее, если товаров много.

            .faq_column.flex_column

                .accordion
                    .title КАКИЕ ОТЧЕТЫ МОЖЕТ ДЕЛАТЬ КАССА? И ГДЕ МОЖНО ИХ УВИДЕТЬ? <i class='arrow'></i>
                    .content
                        | Ling yellowtail flagtail southern flounder. Ribbon eel northern pike glass knifefish cepalin barbelless catfish cusk-eel ridgehead, mahi-mahi. Glass knifefish snubnose eel pompano dolphinfish lemon shark salmon duckbilled barracudina common tunny skate, codlet. Perch tarpon, zebra pleco--round herring jewfish, New Zealand sand diver. Spiny dwarf catfish slickhead clown triggerfish. Shad New Zealand sand diver cavefish banjo catfish bamboo shark spiny basslet, pigfish handfish.

                    .title СКОЛЬКО ТОВАРОВ МОЖНО ВНЕСТИ В КАССУ И КАК? <i class='arrow'></i>
                    .content Количество товаров бесконечно, вносите всё, что продаете. Внести список можно двумя способами: отправить Эксель-таблицу с товарами нам на электронную почту или внести самому через личный кабинет. Первый способ удобнее, если товаров много.

                    .title КАК КАССА НАЗЫВАЕТСЯ В РЕЕСТРЕ? <i class='arrow'></i>
                    .content
                        | Ling yellowtail flagtail southern flounder. Ribbon eel northern pike glass knifefish cepalin barbelless catfish cusk-eel ridgehead, mahi-mahi. Glass knifefish snubnose eel pompano dolphinfish lemon shark salmon duckbilled barracudina common tunny skate, codlet. Perch tarpon, zebra pleco--round herring jewfish, New Zealand sand diver. Spiny dwarf catfish slickhead clown triggerfish. Shad New Zealand sand diver cavefish banjo catfish bamboo shark spiny basslet, pigfish handfish.

                    .title КАКОЙ ИНТЕРНЕТ-МАГАЗИН МОЖНО ПОДКЛЮЧИТЬ К КАССЕ? <i class='arrow'></i>
                    .content Количество товаров бесконечно, вносите всё, что продаете. Внести список можно двумя способами: отправить Эксель-таблицу с товарами нам на электронную почту или внести самому через личный кабинет. Первый способ удобнее, если товаров много.

        .faq_call.flex_column.align_center
            button(class='btn' type='button') Задать вопрос онлайн
            p или ждем Вашего звонка
            a(class='' href='tel:+78123206161') +7(812)320-61-61
        