.feature
    .container
        h2
            span.bordered <span class='bordered-top'></span> Преимущества
        ul.feature_list
            li Низкая стоимость!<br>Всего 3 т.р.
            li Все этапы внедрения касс в Ваш<br>бизнес мы берем на себя
            li Многолетний опыт<br>нашей команды
            li Высокое качество<br>оборудования