.option
    .container
        h2 Возможности
        .tab_wrap
            .tab_title
                .tab_title__item.active Общее
                .tab_title__item Розничным магазинам
                .tab_title__item Интернет-магазинам
                .tab_title__item Кофейням и фастыцдам
                .tab_title__item Курьерским службам
            .tab_content
                .tab_content__item.flex_row__between.active

                    .item
                        h3
                            .top Продажа
                            br
                            .bottom по свободной цене
                        p Касса умеет продавать товары по свободной цене, поэтому вамнеобязательно вносить список и описание товаров в приложение. Кассир вводит цену товара при продаже, а касса готовит чек.

                    .item
                        h3
                            .top БЫСТРЫЙ ПОИСК
                            br
                            .bottom товаров
                        p Самые популярные товары публикуются на главном экране, поэтому кассир быстро их находит. Если товаров много, кассиру поможет поиск по названию или сканирование по штрихкоду.

                    .item
                        h3
                            .top Отчет
                            br
                            .bottom о продажах
                        p Касса собирает отчеты о продажах и присылает на почту или в Телеграм. Получить отчет можно за смену, день, месяц и другие периоды. Так вы видите, какой товар лучше продается и в какое время больше покупателей.

                    .item
                        h3
                            .top Подключение
                            br
                            .bottom программ
                        p Касса работает с программами и системами учета: MS Excel, 1С, Мой склад, и подключается к интернет-магазинам.

                    .item
                        h3
                            .top оплата
                            br
                            .bottom покупок
                        p Касса считает весовые и штучные товары, добавляет товар в чек одним касанием и откладывает чеки, работает с терминалами ПэйМи и Инженико для приема карт.

                    .item
                        h3
                            .top Денежные
                            br
                            .bottom операции
                        p МодульКасса работает с наличными, как все кассы: можно вносить, проводить инкассацию, брать деньги для расчетов с поставщиками.

                .tab_content__item.flex_row__between
                    .item
                        h3
                            .top Продажа
                            br
                            .bottom по свободной цене
                        p Касса умеет продавать товары по свободной цене, поэтому вамнеобязательно вносить список и описание товаров в приложение. Кассир вводит цену товара при продаже, а касса готовит чек.

                    .item
                        h3
                            .top БЫСТРЫЙ ПОИСК
                            br
                            .bottom товаров
                        p Самые популярные товары публикуются на главном экране, поэтому кассир быстро их находит. Если товаров много, кассиру поможет поиск по названию или сканирование по штрихкоду.

                    .item
                        h3
                            .top Отчет
                            br
                            .bottom о продажах
                        p Касса собирает отчеты о продажах и присылает на почту или в Телеграм. Получить отчет можно за смену, день, месяц и другие периоды. Так вы видите, какой товар лучше продается и в какое время больше покупателей.

                    .item
                        h3
                            .top Подключение
                            br
                            .bottom программ
                        p Касса работает с программами и системами учета: MS Excel, 1С, Мой склад, и подключается к интернет-магазинам.

                    .item
                        h3
                            .top оплата
                            br
                            .bottom покупок
                        p Касса считает весовые и штучные товары, добавляет товар в чек одним касанием и откладывает чеки, работает с терминалами ПэйМи и Инженико для приема карт.

                    .item
                        h3
                            .top Денежные
                            br
                            .bottom операции
                        p МодульКасса работает с наличными, как все кассы: можно вносить, проводить инкассацию, брать деньги для расчетов с поставщиками.

                .tab_content__item.flex_row__between
                    .item
                        h3
                            .top Продажа
                            br
                            .bottom по свободной цене
                        p Касса умеет продавать товары по свободной цене, поэтому вамнеобязательно вносить список и описание товаров в приложение. Кассир вводит цену товара при продаже, а касса готовит чек.

                    .item
                        h3
                            .top БЫСТРЫЙ ПОИСК
                            br
                            .bottom товаров
                        p Самые популярные товары публикуются на главном экране, поэтому кассир быстро их находит. Если товаров много, кассиру поможет поиск по названию или сканирование по штрихкоду.

                    .item
                        h3
                            .top Отчет
                            br
                            .bottom о продажах
                        p Касса собирает отчеты о продажах и присылает на почту или в Телеграм. Получить отчет можно за смену, день, месяц и другие периоды. Так вы видите, какой товар лучше продается и в какое время больше покупателей.

                    .item
                        h3
                            .top Подключение
                            br
                            .bottom программ
                        p Касса работает с программами и системами учета: MS Excel, 1С, Мой склад, и подключается к интернет-магазинам.

                    .item
                        h3
                            .top оплата
                            br
                            .bottom покупок
                        p Касса считает весовые и штучные товары, добавляет товар в чек одним касанием и откладывает чеки, работает с терминалами ПэйМи и Инженико для приема карт.

                    .item
                        h3
                            .top Денежные
                            br
                            .bottom операции
                        p МодульКасса работает с наличными, как все кассы: можно вносить, проводить инкассацию, брать деньги для расчетов с поставщиками.

                .tab_content__item.flex_row__between
                    .item
                        h3
                            .top Продажа
                            br
                            .bottom по свободной цене
                        p Касса умеет продавать товары по свободной цене, поэтому вамнеобязательно вносить список и описание товаров в приложение. Кассир вводит цену товара при продаже, а касса готовит чек.

                    .item
                        h3
                            .top БЫСТРЫЙ ПОИСК
                            br
                            .bottom товаров
                        p Самые популярные товары публикуются на главном экране, поэтому кассир быстро их находит. Если товаров много, кассиру поможет поиск по названию или сканирование по штрихкоду.

                    .item
                        h3
                            .top Отчет
                            br
                            .bottom о продажах
                        p Касса собирает отчеты о продажах и присылает на почту или в Телеграм. Получить отчет можно за смену, день, месяц и другие периоды. Так вы видите, какой товар лучше продается и в какое время больше покупателей.

                    .item
                        h3
                            .top Подключение
                            br
                            .bottom программ
                        p Касса работает с программами и системами учета: MS Excel, 1С, Мой склад, и подключается к интернет-магазинам.

                    .item
                        h3
                            .top оплата
                            br
                            .bottom покупок
                        p Касса считает весовые и штучные товары, добавляет товар в чек одним касанием и откладывает чеки, работает с терминалами ПэйМи и Инженико для приема карт.

                    .item
                        h3
                            .top Денежные
                            br
                            .bottom операции
                        p МодульКасса работает с наличными, как все кассы: можно вносить, проводить инкассацию, брать деньги для расчетов с поставщиками.

                .tab_content__item.flex_row__between
                    .item
                        h3
                            .top Продажа
                            br
                            .bottom по свободной цене
                        p Касса умеет продавать товары по свободной цене, поэтому вамнеобязательно вносить список и описание товаров в приложение. Кассир вводит цену товара при продаже, а касса готовит чек.

                    .item
                        h3
                            .top БЫСТРЫЙ ПОИСК
                            br
                            .bottom товаров
                        p Самые популярные товары публикуются на главном экране, поэтому кассир быстро их находит. Если товаров много, кассиру поможет поиск по названию или сканирование по штрихкоду.

                    .item
                        h3
                            .top Отчет
                            br
                            .bottom о продажах
                        p Касса собирает отчеты о продажах и присылает на почту или в Телеграм. Получить отчет можно за смену, день, месяц и другие периоды. Так вы видите, какой товар лучше продается и в какое время больше покупателей.

                    .item
                        h3
                            .top Подключение
                            br
                            .bottom программ
                        p Касса работает с программами и системами учета: MS Excel, 1С, Мой склад, и подключается к интернет-магазинам.

                    .item
                        h3
                            .top оплата
                            br
                            .bottom покупок
                        p Касса считает весовые и штучные товары, добавляет товар в чек одним касанием и откладывает чеки, работает с терминалами ПэйМи и Инженико для приема карт.

                    .item
                        h3
                            .top Денежные
                            br
                            .bottom операции
                        p МодульКасса работает с наличными, как все кассы: можно вносить, проводить инкассацию, брать деньги для расчетов с поставщиками.