.order
    .container
        .flex_row__between
            .order_form.flex_column
                p.order_title ЗАКАЖИТЕ УСТАНОВКУ КАССЫ ПРЯМО СЕЙЧАС <br> <span class='text-attentionCol'>заполните заявку</span>
                form
                    input(type='text' placeholder='Имя')
                    input(class='tel' type='tel' placeholder='Телефон')
                    input(type='email' placeholder='E-mail')
                    button(class='btn' type='submit') Заказать
                p.form_agree Нажимая на кнопку, вы приниаете <a class='text-attentionCol' href=''>Положение</a> и <a class='text-attentionCol' href=''>Согласие</a> на обработку персональных данных
            .order_call.text-center
                div
                    p Остались вопросы? <br> Позаоните нам!
                    a(class='' href='tel:+78123206161') +7(812) 320-61-61
