.sanction
    .container
        h2 <span class='text-attentionCol'>Штрафы</span> за несоблюдение 54-ФЗ
        p.sanction_text1 С 1 июля 2017 магазины обязаны отчитываться о продажах перед налоговой. Для этого нужно заключить договор с оператором фискальных данных и поставить кассу, которая копит эти данные, передает оператору и печатает фискальные чеки.
        .flex_row__around
            .flex_column.sanction_text2
                b для должностных лиц
                p от <span class='text-attentionCol'>25%</span> до <span class='text-attentionCol'>50%</span><br>от суммы выручки<br>(не менее <span class='text-attentionCol'>10 000 руб.</span>)
            .flex_column.sanction_text2
                b для юридических лиц
                p от <span class='text-attentionCol'>25%</span> до <span class='text-attentionCol'>50%</span><br>от суммы выручки<br>(не менее <span class='text-attentionCol'>10 000 руб.</span>)