.step
    .container
        h2  Этапы ввода кассового обслуживания <span class='text-black'>у нас в компании</span>
        .tab_wrap
            .tab_title
                .tab_title__item.active
                    .number 1
                    .text Приобретение ККТ
                .tab_title__item
                    .number 2
                    .text Получение ЭЦП
                .tab_title__item
                    .number 3
                    .text Регистрация в ИФНС
                .tab_title__item
                    .number 4
                    .text Подключение к ОФД
                .tab_title__item
                    .number 5
                    .text Постановка на техобслуживание
                .tab_title__item
                    .number 6
                    .text Автоматизация зоны кассира
                .tab_title__item
                    .number 7
                    .text Обучение кассиров
            .tab_content
                .tab_content__item.flex_row__between.active
                    .img-wrap
                        img(src='img/cash4.png' alt='')
                    .text
                        h3 Регистрация Контрольно-кассовой техники
                        p С 1 июля 2017 года процесс регистрации KKT значительно изменился. Теперь, чтобы зарегистрировать кассовый аппарат, Вам не нужно ездить в ИФНС. Появилась отличная возможность оформить ЭЦП, подключиться к ОФД, зарегистрировать KKT в одном месте, последнее потребует лишь наличие вашего ПК. Наши профессионалы владеют обширными знаниями в области регистрации(перереги-страции).
                        p Зарегистрируйте KKT удобным для Вас способом. Данная процедура осуществляется как у нас в офисе, так и выездом нашего специалиста к Вам. Команда компании Рустехпром сэкономит ваше время и деньги, произведет регистрацию кассового аппарата согласно закону с учетом всей необходимой документации, не забывая про качественный сервис.

                .tab_content__item.flex_row__between
                    .img-wrap
                        img(src='img/cash3.png' alt='')
                    .text
                        h3 Регистрация Контрольно-кассовой техники
                        p С 1 июля 2017 года процесс регистрации KKT значительно изменился. Теперь, чтобы зарегистрировать кассовый аппарат, Вам не нужно ездить в ИФНС. Появилась отличная возможность оформить ЭЦП, подключиться к ОФД, зарегистрировать KKT в одном месте, последнее потребует лишь наличие вашего ПК. Наши профессионалы владеют обширными знаниями в области регистрации(перереги-страции).
                        p Зарегистрируйте KKT удобным для Вас способом. Данная процедура осуществляется как у нас в офисе, так и выездом нашего специалиста к Вам. Команда компании Рустехпром сэкономит ваше время и деньги, произведет регистрацию кассового аппарата согласно закону с учетом всей необходимой документации, не забывая про качественный сервис.

                .tab_content__item.flex_row__between
                    .img-wrap
                        img(src='img/cash4.png' alt='')
                    .text
                        h3 Регистрация Контрольно-кассовой техники
                        p С 1 июля 2017 года процесс регистрации KKT значительно изменился. Теперь, чтобы зарегистрировать кассовый аппарат, Вам не нужно ездить в ИФНС. Появилась отличная возможность оформить ЭЦП, подключиться к ОФД, зарегистрировать KKT в одном месте, последнее потребует лишь наличие вашего ПК. Наши профессионалы владеют обширными знаниями в области регистрации(перереги-страции).

                .tab_content__item
                    .img-wrap
                        img(src='img/cash4.png' alt='')

                .tab_content__item
                    .text
                        h3 Регистрация Контрольно-кассовой техники
                        p С 1 июля 2017 года процесс регистрации KKT значительно изменился. Теперь, чтобы зарегистрировать кассовый аппарат, Вам не нужно ездить в ИФНС. Появилась отличная возможность оформить ЭЦП, подключиться к ОФД, зарегистрировать KKT в одном месте, последнее потребует лишь наличие вашего ПК. Наши профессионалы владеют обширными знаниями в области регистрации(перереги-страции).
                        p Зарегистрируйте KKT удобным для Вас способом. Данная процедура осуществляется как у нас в офисе, так и выездом нашего специалиста к Вам. Команда компании Рустехпром сэкономит ваше время и деньги, произведет регистрацию кассового аппарата согласно закону с учетом всей необходимой документации, не забывая про качественный сервис.

                .tab_content__item
                    .img-wrap
                        img(src='img/cash1.png' alt='')
                    .text
                        h3 Регистрация Контрольно-кассовой техники
                        p С 1 июля 2017 года процесс регистрации KKT значительно изменился. Теперь, чтобы зарегистрировать кассовый аппарат, Вам не нужно ездить в ИФНС. Появилась отличная возможность оформить ЭЦП, подключиться к ОФД, зарегистрировать KKT в одном месте, последнее потребует лишь наличие вашего ПК. Наши профессионалы владеют обширными знаниями в области регистрации(перереги-страции).

                .tab_content__item
                    .img-wrap
                        img(src='img/cash2.png' alt='')
                    .text
                        h3 Регистрация Контрольно-кассовой техники
                        p С 1 июля 2017 года процесс регистрации KKT значительно изменился. Теперь, чтобы зарегистрировать кассовый аппарат, Вам не нужно ездить в ИФНС. Появилась отличная возможность оформить ЭЦП, подключиться к ОФД, зарегистрировать KKT в одном месте, последнее потребует лишь наличие вашего ПК. Наши профессионалы владеют обширными знаниями в области регистрации(перереги-страции).
                        p Зарегистрируйте KKT удобным для Вас способом. Данная процедура осуществляется как у нас в офисе, так и выездом нашего специалиста к Вам. Команда компании Рустехпром сэкономит ваше время и деньги, произведет регистрацию кассового аппарата согласно закону с учетом всей необходимой документации, не забывая про качественный сервис.