.suit
    .container
        h2
            span.bordered <span class='bordered-top'></span> Для кого <span class='text-careCol'>подходит</span>
        ul.suit_list
            li
                h3 Розница
                p Равным образом новая модель организационной деятельности в значительной степени
            li
                h3 Интернет-магазин
                p Равным образом новая модель организационной деятельности в значительной степени
            li
                h3 Для курьеров
                p Равным образом новая модель организационной деятельности в значительной степени
            li
                h3 Для кафе и кофеен
                p Равным образом новая модель организационной деятельности в значительной степени