@font-face {
  font-family: 'Stencil Std';
  src: url("/fonts/StencilStd.otf");
}
* {
  font-family: 'Roboto', sans-serif;
  color: #3d3d3d;
}
::selection {
  background: #cce2ff;
}
::-moz-selection {
  background: #cce2ff;
}
.text-attentionCol {
  color: #d50300;
}
.text-bold {
  font-weight: 600;
}
.text-black {
  font-weight: 900;
}
.text-careCol {
  color: #023672;
}
.text-center {
  text-align: center;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1010px;
  width: 100%;
}
input {
  display: block;
  margin: 0 0 10px 0;
  padding: 0 10px;
  min-width: 265px;
  height: 32px;
  font-weight: 100;
  font-size: 14px;
  border: 1px solid #b4b4b4;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: rgba(255,255,255,0.7);
}
.btn {
  padding: 0 42px 0 42px;
  min-height: 32px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: -moz-linear-gradient(60deg, #8c0200 0%, #d50300 100%);
  background: -webkit-linear-gradient(60deg, #8c0200 0%, #d50300 100%);
  background: -ms-linear-gradient(60deg, #8c0200 0%, #d50300 100%);
  transition: 0.2s;
}
.btn:hover {
  background: -moz-linear-gradient(60deg, #730200 0%, #bc0300 100%);
  background: -webkit-linear-gradient(60deg, #730200 0%, #bc0300 100%);
  background: -ms-linear-gradient(60deg, #730200 0%, #bc0300 100%);
}
.btn.inverted {
  font-size: 14px;
  font-weight: 100;
  color: #000;
  text-transform: none;
  border: 1px solid #d50300;
  background: transparent;
}
.btn.inverted:hover {
  color: #fff;
  background: #d50300;
}
.form_agree {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 100;
  color: #9c9c9c;
}
.form_agree a {
  text-decoration: underline;
}
.form_agree a:hover {
  text-decoration: none;
}
.burger {
  position: relative;
  z-index: 1001;
}
.burger i,
.burger i::before,
.burger i::after {
  background: #000;
}
.burger.active i::before,
.burger.active i::after {
  background: #fff;
}
.tab_title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tab_title__item {
  cursor: pointer;
  transition: 0.3s;
}
.tab_content__item {
  overflow: hidden;
}
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.overlay.active {
  display: block;
}
h2 {
  margin: 25px 0 25px 0;
  font-size: 54px;
  font-weight: 300;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center;
}
h2 .bordered {
  position: relative;
  padding: 12px 22px 12px 22px;
  border-top: 1px solid #023672;
  border-bottom: 1px solid #023672;
}
h2 .bordered:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 20px;
  background: #023672;
}
h2 .bordered:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 20px;
  background: #023672;
}
h2 .bordered-top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 20px;
  background: #023672;
}
h2 .bordered-top:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 20px;
  background: #023672;
}
@media (max-width: 750px) {
  h2 {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 32px;
    line-height: 46px;
  }
  h2 .bordered {
    padding: 0;
    border: none;
  }
  h2 .bordered:before {
    display: none;
  }
  h2 .bordered:after {
    display: none;
  }
  h2 .bordered-top:before {
    display: none;
  }
  h2 .bordered-top:after {
    display: none;
  }
  input {
    min-width: 100%;
  }
}
.option .tab_title {
  justify-content: space-between;
  overflow: hidden;
}
.option .tab_title__item {
  position: relative;
  padding: 10px 20px 20px 20px;
  font-size: 16px;
  font-weight: 300;
  color: #807c7c;
}
.option .tab_title__item:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -100px;
  bottom: 7px;
  width: 500%;
  height: 1px;
  background: #c1c1c1;
}
.option .tab_title__item:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -5px;
  width: 14px;
  height: 14px;
  background: url("/img/tab2.png") -1px no-repeat;
}
.option .tab_title__item.active {
  font-weight: 500;
  color: #000;
}
.option .tab_title__item.active:after {
  background-position: -16px;
}
.option .tab_content__item {
  flex-wrap: wrap;
  padding: 40px 0 40px 0;
}
.option .tab_content__item .item {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 270px;
}
.option .tab_content__item .item h3 {
  position: relative;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
}
.option .tab_content__item .item h3 .top {
  display: inline-block;
  padding-top: 3px;
  border-top: 3px solid #010101;
}
.option .tab_content__item .item h3 .bottom {
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 3px solid #010101;
}
.option .tab_content__item .item h3:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -25px;
  left: 80px;
  width: 120px;
  height: 120px;
  background: url("/img/iconset2.png") no-repeat;
}
.option .tab_content__item .item p {
  font-size: 14px;
  line-height: 20px;
}
.option .tab_content__item .item:nth-child(1) h3:after {
  left: 140px;
}
.option .tab_content__item .item:nth-child(2) h3:after {
  left: 110px;
  background-position: -137px 0;
}
.option .tab_content__item .item:nth-child(3) h3:after {
  left: 74px;
  background-position: -258px 0;
}
.option .tab_content__item .item:nth-child(4) h3:after {
  left: 100px;
  background-position: 0 -113px;
}
.option .tab_content__item .item:nth-child(5) h3:after {
  left: 53px;
  background-position: -124px -113px;
}
.option .tab_content__item .item:nth-child(6) h3:after {
  left: 53px;
  background-position: -246px -113px;
}
@media (max-width: 980px) {
  .option .tab_title {
    flex-wrap: wrap;
  }
  .option .tab_content__item .item {
    width: 30%;
  }
}
@media (max-width: 880px) {
  .option .tab_content__item .item {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .option .tab_content__item .item {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .option .tab_title {
    overflow: visible;
  }
  .option .tab_title__item {
    width: 100%;
    text-align: center;
  }
}
